   /* overlay for not completing profile */
   #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .overlay-content {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  #animated-text {
    animation: blink 4s infinite;
  color: white;
  }


  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }




  #calendar {
    width: 800px;
    margin: 0 auto;
  }




  td img {
    max-width: 50px;
    max-height: 50px; 
  }


  .fixed-cell-width {
    width: 150px;
}



.successful {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  background-color: #3682f4;
  color: white;
  margin-bottom: 15px;
  border-radius: 4px;
}

.alert {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  border-radius: 4px;
}

.closebtn {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}



.blue-icon {
  color: blue;
}
.red-icon {
  color: red;
}

.yellow-icon {
  color: rgb(243, 240, 62);
}


#chart {
  max-width: 800px;
  margin: 20px auto;
}
